# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary
